<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <h1 id="titel">Genbrugs Marked</h1> 
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-lock-fill" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/myprofile" Match="NavLinkMatch.All">
                <span class="bi bi-person-circle" aria-hidden="true"></span> My Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ads" Match="NavLinkMatch.All">
                <span class="bi bi-cart4" aria-hidden="true"></span> Advertisements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/purchases" Match="NavLinkMatch.All">
                <span class="bi bi-receipt" aria-hidden="true"></span> Purchase History
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
